@charset "UTF-8";
/* CSS Document */

/***** Base Styles ************************************/
/*=========================*/
.e-breadcrumb {
  margin:0 0 10px 0;
  }
  
body {
  padding-bottom:100px;
  }

/***** Modules ************************************/
/*=========================*/
/* this needs to be tweaked based on the media-queries from the responsive CSS file */
/* right now it is not optimal */
.container {
  margin: 0 auto 30px auto;
  }  

.add-top    { margin-top: 75px; }
.add-bottom { margin-bottom: 75px; }

/* Navbar */

.navbar {
  margin-top: 30px;
  margin-bottom: 0;
  }
  
nav.navbar a.logo {
  display: block;
  float:left;
}

nav.navbar > .container {
  border-bottom: 3px solid rgba(248,247,247,1);
  margin-bottom: 0;
  padding-bottom: 20px;
  }

.navbar ul.nav {
  position: relative;
  top: 54px;
}


/* Jumbotron */
/* This is the big text areas on each of the sub-pages */
/*=========================*/
.jumbotron {
  background: url("../media/diag.gif") repeat;
  border-bottom: 3px solid rgba(248,247,247,1);
  text-align: center;
  }


/* Footer */
/*=========================*/
.diag-divider {
  height:40px;  
  background: url("../media/diag.gif") repeat;
  border-bottom: 3px solid rgba(248,247,247,1); 
  margin-bottom: 20px;
  } 

.socialicon, .socialicon-color {
  float:left;
  margin: 5px 10px 20px 0;
  }

#tab-staff .socialicon-color {
  float:none;
  margin-top: 15px !important;
  }

#tab-staff .plain a {
  margin: 0px 10px 10px 0;
  display: inline-block;
}

.tab-pane h3 {
  margin-top: 22px;
}

#tab-staff .span6 {
  margin-top: 15px;
}

footer ul.menu {
  list-style: none;
}

/*=========================*/
/*=========================*/
/* Homepage */
/*=========================*/
/*=========================*/

/* Hero */
/* This is the big image area on the homepage */
/*=========================*/
.hero {
  margin-top: 5px;
  overflow: hidden;
  max-height: 500px;
  position: relative;
  }
  
.hero .text * {
  color: white;
  margin: 0;
}

.hero .row,
.hero .feature,
.hero .tagline {
  overflow: hidden;
  max-height: 500px;
  position: relative;
}

.feature .text {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
}
  
.hero .row,
.hero .row img,
.triptych .trio,
.triptych .span4 img {
  position: relative;
}

.feature .overlay,
.overlay div.text {
  background: #009CC1;
  background: rgba(0,156,193,.5);
  position: absolute;
  bottom: 0;
  margin: 0;
}

.hero .row div.text > * {
  padding: 15px;
}

.hero .row div.span8 h2 {
  padding-bottom: 0;
  margin-bottom: 0;
}

.hero .row .tagline div.text {
  background: #009CC1;
  background: rgba(0,156,193,1);
  display: table;
  vertical-align: middle;
  width: 100%;
}

.hero .row .tagline div.text h1 {
  display: table-cell;
  vertical-align: middle;
}

.hero .other {
  margin-top: 30px;
}

/* Triptych info */
.hero .other, 
.triptych .trio { 
  overflow: hidden; 
  position: relative;
}

.triptych .span4 img {
  height: auto;
  width: 100%;
}

.hero .other img,
.triptych .overlay img {
  min-height: 100%;
  width: auto;
}

.hero .other .overlay div.text,
.triptych .overlay div.text {
  top: 0;
  height: 50px;
}

.hero .other .overlay div.text h3,
.triptych .overlay div.text h3 {
  color: white;
  margin: 0;
  padding: 10px;
  font-weight: 400;
}

.trio h3 { margin: .25em 0; }
.trio h3 a { color: white; font-weight: 400; }

/* lower, more general stuff */
.row-fluid {
  padding-top:25px;
  padding-bottom:0;
  }

.home-content h3 {
  padding-bottom:10px;
  border-bottom: 3px solid rgba(248,247,247,1); 
  }
  
.home-content p {
  margin-top:10px;
  }
  
.index.jumbotron {
  background: none;
  border-bottom: none;
  margin: 0 auto;
  }

.index.jumbotron .diag-divider {
  margin-bottom: 70px;
  }


/* Inner Pages */
/*=========================*/
.inline-image img {
  width:100%;
  margin-top: 30px;
  }

.top-15 {
  padding-top:15px;
  }
  
.top-25 {
  padding-top:25px;
  }
  
.plain {
  margin-right:0 !important;
  margin-bottom:15px; 
  margin-left:0 !important;
  border-bottom: 3px solid rgba(248,247,247,1);
  overflow:hidden;
  min-height: 350px;
  }
  
.plain p {
  padding-right:15px;
  }

.sidebar {
  background-color:#f2f2f2;
  border: #eee solid 1px;
  padding:30px;
  margin-bottom:20px;
  color:gray;
  border-radius: 7px
  }
  
.sidebar h3 {
  margin-top:0;  
  }

form {
  margin-top:20px;
  }

textarea {
  width:90%
  }
  
label {
  margin:10px 0 2px 0;
  }
  

/* Side Nav */
/*=========================*/
.side-nav {
  list-style-type: none;
  padding-top: 20px;
  margin:5px 0;
  }

.side-nav li {
  padding:0;;
  line-height: 1.1;  
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  }
  
#filters li:first-child {
  text-align: center;
}
 
@media (max-width: 767px) {
  #filters {
    border-bottom: 3px solid rgb(248, 247, 247);
    margin-bottom: 15px;
    padding: 3px 0;
  }
  
  #filters li.icons  {
    display: inline-block;
    width: 19%;
    margin: 5px 0;
    padding: 0;
    text-align: center;
  }

  #filters li.icons div, #filters li.icons a { margin: 0; padding: 0; }
  #filters li.icons a { padding: 5px 0; }
  
  #filters li.icons img  {
    float: none;
  }

  #filters li.icons p  {
    display: none;
  }

  #filters li:first-child {
    text-align: center;
    display: block;
    width: 100%;
  }
} 

 
.side-nav li a {
  clear: both;
  display: block;
  font-size: 1.4rem;
  padding: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.side-nav > .active > a,
.side-nav > .active > a:hover,
.side-nav > .active > a:focus {
  color: #555555;
  cursor: default;
  text-decoration: none;
}

.side-nav i { margin: 3px 3px 0 0 }
 
.side-nav > li.active { background-color: rgba(248,247,247,1); }

ul.side-nav .iconsidenav {
  height:24px;
  float:left;
  margin:0 5px 0 0;  
  }
  
ul.side-nav p { padding-top: 4px; }

ul.side-nav .icons i {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

ul.side-nav .icons i.icon-science    { background-image: url("../media/category_science_40.png"); width: 21px; margin-left: 3px; }
ul.side-nav .icons i.icon-scholars   { background-image: url("../media/category_scholars_40.png"); width: 24px; margin-left: 1px; }
ul.side-nav .icons i.icon-arts       { background-image: url("../media/category_arts_40.png"); width: 24px; margin-left: 1px; }
ul.side-nav .icons i.icon-justice    { background-image: url("../media/category_justice_40.png"); width: 26px; }
ul.side-nav .icons i.icon-community  { background-image: url("../media/category_community_40.png"); width: 22px; margin-left: 2px; }

ul.side-nav .active i.icon-science   { background-image: url("../media/category_science_40gr.png"); }
ul.side-nav .active i.icon-scholars  { background-image: url("../media/category_scholars_40gr.png"); }
ul.side-nav .active i.icon-arts      { background-image: url("../media/category_arts_40gr.png"); }
ul.side-nav .active i.icon-justice   { background-image: url("../media/category_justice_40gr.png"); }
ul.side-nav .active i.icon-community { background-image: url("../media/category_community_40gr.png"); }

ul.side-nav .active i {
  background-color:  #555555;
}

/* Project Pages */
/*=========================*/

.minus-top { 
  padding-top: 0; 
}

.minus-top, .minus-top .pager { 
  position: relative; z-index: 999; }

.minus-top .pager { 
  margin-top:0; 
  margin-bottom: 0; 
  }

.minus-top .pager a { 
  position: absolute; 
  display: block; 
  width: 100%; 
  z-index: 999; 
}

.minus-top .prev.disabled, 
.minus-top .next.disabled {
  visibility: hidden !important;
}

.pager a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.minus-top .pager a:hover {
  background-color: #009AC9;
  background-color: rgba(0,154,201,1);
  color: white;
  text-decoration: none;
  /**/
  transition: all 300ms;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
}

.next.pager a {
  background: url("../media/proj-n.png") center center no-repeat;
}
.next.pager a:hover {
  background-image: url("../media/proj-n-white.png");
}

.prev.pager a {
  background: url("../media/proj-p.png") center center no-repeat;
}
.prev.pager a:hover {
  background-image: url("../media/proj-p-white.png");
}


 /** tweaks for @media queries */
/* 1200 AND ABOVE // Biggie Browser */
/* 980-1200 // Sm. Browser, Landscape Tablet */
/* ----------- BEGIN COLLAPSED NAV ----------- */
/* 768-979 // Portrait Tablet */
/* 481-767 // Landscape Smartphone */
/* 480 AND UNDER // Portrait Smartphone */

@media (max-width: 767px) {

.minus-top .pager { 
  position: static; 
  z-index: 999; 
  height:200px;
  margin-bottom: -30px;

  }

.minus-top .pager a { 
  position: relative; 
  top:0 !important;
  display: block; 
  z-index: 999;

  }

.pager a {
  text-indent: 100%;
  white-space: nowrap;
  height: 100px !important;   
  height: 120px !important;   
  margin-top:80px;
  border-top:3px solid #F8F7F7;
  }


.pager::after{
    clear:none;
    }
    
.minus-top .prev, .minus-top .next {
    float:left;
    margin-top:25px;
    width: 50%;
    }
    
.minus-top .pager a:hover { 
  background-color: #009AC9;
  background-color: rgba(0,154,201,1);
  color: white;
  text-decoration: none;
  transition: all 300ms;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
} 

}
/*--- End Responsive Pager Business --*/

.brick {
  padding-bottom:20px;
  border-bottom: 3px solid rgba(248,247,247,1); 
}
  
.brick:last-child {
  padding-bottom:60px;
  border-bottom: none; 
  }

.brick .tags {
  display: block;
  text-align: right;
  margin-top: 34px;
}

.brick p {
  clear:both;
}

/* JUST TEXT PAGES */

.project .tags,
.project .tags .icon {
  height: 60px;
}

.project .tags.bottom {
  margin-top: 60px;
}

div.spruceup {
  margin-top: 60px;
}

/* Slideshow Stuff */
/*=========================*/

#slideshow {
  border-radius: 0;
  overflow: hidden;
  position: relative;
}

#slideshow .cycle-slideshow, 
#slideshow .slide {
  height: 100%;
  overflow: hidden;
}

#slideshow .cycle-slideshow, 
#slideshow .slide, 
#slideshow .cycle-slideshow img {
  width: 100%;
}

#slideshow:before,
#slideshow:after {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 777;
  display: block;
  content: "";
  height: 40px;
}
#slideshow:before {
  top:0;
  background-image: -moz-linear-gradient(rgba(0, 0, 0, .2), rgba(0,0,0,0));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, .2), rgba(0,0,0,0));
}
#slideshow:after {
  bottom: 0;
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,.2));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,.2));
}

/* next/prev */
.cycle-prev, .cycle-next { position: absolute; top: 0; width: 30%; opacity: 0; filter: alpha(opacity=0); z-index: 888; height: 100%; cursor: pointer; }
.cycle-prev { left: 0;  background: url("../media/prev2.png") 50% 50% no-repeat;}
.cycle-next { right: 0; background: url("../media/next2.png") 50% 50% no-repeat;}
.cycle-prev:hover, .cycle-next:hover { opacity: .7; filter: alpha(opacity=70) }

/* pager */
.cycle-pager { 
  text-align: center; width: 100%; z-index: 999; position: absolute; bottom: 10px; overflow: hidden;
}
.cycle-pager span { 
  font-family: arial; font-size: 80px; width: 30px; height: 30px; line-height: 30px;
  display: inline-block; color: #F3F3F3; cursor: pointer; 
}
.cycle-pager span:hover { color: #0799C8; }
.cycle-pager span.cycle-pager-active { color: #77A41D;}
.cycle-pager > * { cursor: pointer;}


/**** Isotope CSS3 transitions ****/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope  .isotope-item {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: opacity;
     -moz-transition-property: opacity;
      -ms-transition-property: opacity;
       -o-transition-property: opacity;
          transition-property: opacity;
}

/***********************************/
/** What We Do Page Icon Stuff... **/
/***********************************/

/*Icon Stuff*/

.brick ul.categories {
  list-style: none;
  margin: 20px 0 0 0 ;
  padding: 0;
  }

.brick ul.categories li {
  display: inline-block;
  margin: 0 5px 15px 0;
  } 
  
@media (max-width: 767px) {
  .brick .project-title {
    margin-top: 30px;
  }
  .brick .project-content {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .brick .project-content {
    margin-right: 104px;
  }
}

@media (min-width: 980px) {
  .brick .project-content {
    margin-right: 170px;
  }
}

.icons.categories.bottom { margin-top: 75px;}
  
.icons.categories li,
.icons.categories li a, 
.icons.categories.bottom a {
  display: inline-block;
  height: 40px;
}

.icons.categories.bottom a,
.icons.categories li a {
  text-indent: -9000px;
  overflow: hidden;
}

.icons.categories .arts a,
.icons.categories.bottom a.arts {
  background-image: url('../media/category_arts_40.png');
  background-repeat: no-repeat;
  width:40px !important;
  }
  
.icons.categories .community a,
.icons.categories.bottom a.community  {
  background-image:url('../media/category_community_40.png');
  background-repeat: no-repeat;
  width:37px !important;
  }
  
.icons.categories .justice a,
.icons.categories.bottom a.justice {
  background-image:url('../media/category_justice_40.png');
  background-repeat: no-repeat;
  width:44px !important;
  }
  
.icons.categories .science a,
.icons.categories.bottom a.science {
  background-image:url('../media/category_science_40.png');
  background-repeat: no-repeat;
  width:35px !important;
  }
  
.icons.categories .scholars a,
.icons.categories.bottom a.scholars {
  background-image:url('../media/category_scholars_40.png');
  background-repeat: no-repeat;
  width:40px !important;
  }




