/* main RWDF styles -> layout, design, etc. */

/** Base RWDF Color Palette **/
/**

Light Green:  rgba(189,213,0,1)
Dk Green:     rgba(110,176,0,1)
Blue:         rgba(0,154,201,1)
Gray:         rgba(185,186,184,1)
light gray:   rgba(248,247,247,1)

**/

/** Secondary Color Palette **/
/**
**/

/* Text */

a { color:rgba(110,176,0,1); }
a:hover { color:rgba(0,154,201,1); }
.navbar ul.nav li.active a {
  color: #0799C8;
}
h3, h4 { /* Subheads */
  color:rgba(0,160,208,1);
  }
.plain h5 { /* Subheads */
  color:rgba(110,176,0,1);
  }
footer {
  color: rgba(185,186,184,1);
  }
footer a {color:rgba(185,186,184,1)}

/* Graphic Elements */
hr { background-color:rgba(248,247,247,1); }
.socialicon { background-color:rgba(185,186,184,1); }
.socialicon-color { background-color:rgba(110,176,0,1); }
.socialicon:hover, .socialicon-color:hover { background-color:rgba(110,176,0,1); }
.carousel-control { 
    color:rgba(185,186,184,1);
    background-color: transparent 
    }
.carousel-control:hover { color:rgba(110,176,0,1); }

/**/

.index .hero .row div.text.green,
.overlay div.text.green {
  background: #A2B952 !important;
  background: rgba(162,185,82,.75) !important;
}

