/* main RWDF styles -> layout, design, etc. */

/** Base RWDF Color Palette **/
/**

Dk Green:     rgba(110,176,0,1), #6EB000
Blue:         rgba(0,154,201,1), #009AC9
Gray:         rgba(185,186,184,1), #B9BAB8
light gray:   rgba(248,247,247,1), #F8F7F7
  color:rgba(0,160,208,1);

**/

/** Secondary Color Palette **/
/**
**/

/* Text */

a { 
  color:#6EB000;
  color:rgba(110,176,0,1); 
  }
  
a:hover { 
  color: #009AC9;
  color:rgba(0,154,201,1); 
  }

.navbar ul.nav li.active a {
  color: #009AC9;
  color: rgba(0,154,201,1);
  }

h3, h4 { /* Subheads */
  color: #009AC9;
  color: rgba(0,154,201,1);
  }
  
.plain h5 { /* Subheads */
  color:#6EB000;
  color:rgba(110,176,0,1);
  }
  
footer {
  color: #B9BAB8;
  color: rgba(185,186,184,1);
  }
  
footer a {
  color: #B9BAB8;
  color:rgba(185,186,184,1)
  }

/* Graphic Elements */
hr { 
  background-color: #F8F7F7;
  background-color:rgba(248,247,247,1); 
  }
  
.icongreen { 
  background-color:#6EB000;
  background-color:rgba(110,176,0,1); 
  }
  
.icongray { 
  background-color: #B9BAB8;
  background-color:rgba(185,186,184,1); 
  }

.icongreen:hover , .icongray:hover { 
  background-color:#009AC9;
  background-color:rgba(0,154,201,1); 
  }
  
.icons.categories .science , .icons.categories .arts , .icons.categories .justice, .icons.categories .scholars, .icons.categories .community {
  background-color: #B9BAB8;
  background-color:rgba(185,186,184,1); 
  }
  
.icons.categories .science:hover , .icons.categories .arts:hover , .icons.categories .justice:hover , .icons.categories .scholars:hover , .icons.categories .community:hover {
  background-color:#009AC9;
  background-color:rgba(0,154,201,1); 
  }

.carousel-control { 
  color: #B9BAB8;
  color:rgba(185,186,184,1);
  background-color: transparent 
  }
    
.carousel-control:hover { 
  color:#6EB000;
  color:rgba(110,176,0,1); 
  }

/**/

.index .hero .feature .text.green
.index .hero .row div.text.green,
.overlay div.text.green {
  background: #A2B952 !important;
  background: rgba(162,185,82,.75) !important;
  }

