
div.phone {width: 100%;}

div.phone input {
  margin: 0;
  padding-left: 1%;
  padding-right: 1%;
}

div.phone input.three {
  width: 23%;
}

div.phone input.four {
  width: 31%;
}

div.phone span.one {
  width: 6.333333333333%;
}

.controls-row input,
.controls-row label, 
.controls-row .span4 input,
textarea {
  width: 98%;
  padding-left: 1%;
  padding-right: 1%;
}

#saveForm {
  border: none;
  background: #009AC9;
  background: rgba(0,154,201,1);
  width: 206px;
  padding: 1.1%;
  margin-top: 15px;
  color:white;
  /**/
  transition: background 500ms;
  -moz-transition: background 500ms;
  -webkit-transition: background 500ms;
}

#saveForm:hover {
  border: none;
  background: #6EB000;
  background: rgba(110,176,0,1);
  color:white;
}

#saveForm:active {
  background: #395b00;
  color: #F3F3F3;
  color: rgba(243,243,243,1);
}
