@charset "UTF-8";
/* CSS Document */

/***** Base Styles ************************************/
/*=========================*/
.e-breadcrumb {
  margin:30px 0 10px 0;
  }
  
body {
  padding-bottom:100px;
  }


/***** Modules ************************************/
/*=========================*/
/* this needs to be tweaked based on the media-queries from the responsive CSS file */
/* right now it is not optimal */
.container {
  margin: 0 auto 30px auto;
  }  

/* Navbar */

.navbar {
  margin-top: 30px;
  margin-bottom: 0;
  }
  
nav.navbar a.logo {
  display: block;
  float:left;
}

.index nav.navbar a.logo {
  width: 180px;
}

nav.navbar > .container {
  border-bottom: 3px solid rgba(248,247,247,1);
  margin-bottom: 0;
  padding-bottom: 20px;
  }

.navbar ul.nav {
  position: relative;
  top: 54px;
}


/* Jumbotron */
/* This is the big text areas on each of the sub-pages */
/*=========================*/
.jumbotron {
  background: url("../img/diag.gif") repeat;
  border-bottom: 3px solid rgba(248,247,247,1); 
  }
  
.jumbo-text {
  margin:0 42px;
  padding: 50px 140px;
  background-color: #fff;  
  }
  
.jumbo-text.inner {
  margin:0 42px;
  padding: 30px 100px;  
  }

/*=========================*/
/*=========================*/
/* Homepage */
/*=========================*/
/*=========================*/

/* Hero */
/* This is the big image area on the homepage */
/*=========================*/
.hero {
  margin-top: 5px;
  overflow: hidden;
  max-height: 500px;
  }
  
.hero .text * {
  color: white;
  margin: 0;
}

.hero .row {
  overflow: hidden;
  max-height: 500px;
}
  
.hero .row,
.hero .row img,
.index .triptych .trio,
.index .triptych .span4 img {
  position: relative;
}

.index .hero .row div.text,
.overlay div.text {
  background: #009CC1;
  background: rgba(0,156,193,.5);
  position: absolute;
  bottom: 0;
  float: none;
  margin: 0;
}

.index .hero .row div.text > * {
  padding: 15px;
}

.index .hero .row div.text.span8 h1 {
  padding-bottom: 0;
}

.index .hero .row .tagline div.text {
  background: #009CC1;
  background: rgba(0,156,193,1);
}

/* Triptych info */
.index .triptych .trio {
  overflow: hidden;
}

.index .triptych .span4 img {
  height: auto;
  width: 100%;
}

.index .triptych .overlay img {
  height: 100%;
  width: auto;
}

.index .triptych .overlay div.text {
  top: 0;
  height: 50px;
}

.index .triptych .overlay div.text h3 {
  color: white;
  margin: 0;
  padding: 10px;
  font-weight: 400;
}

.trio h3 { margin: .25em 0; }
.trio h3 a { color: white; font-weight: 400; }

.index .triptych .no-overlay div.text {
  top: 0;
  height: auto;
  margin: 0;
  padding: 0;
}

.index .triptych .no-overlay div.text h3, .no-overlay h3 a {
  color: #77A41D;
  margin: 0 0 10px 0;
  padding: 0;
  font-weight: 400;
}

.index .triptych .no-overlay .tags {margin-bottom: 10px;}
.index .triptych .no-overlay .tags .icon {
  width: 100px;
}
/* lower, more general stuff */
.row-fluid {
  padding-top:25px;
  padding-bottom:75px;
  }

.home-content h3 {
  padding-bottom:10px;
  border-bottom: 3px solid rgba(248,247,247,1); 
  }
  
.home-content p {
  margin-top:10px;
  }
  
.index .jumbotron {
  background: none;
  border-bottom: none;
  margin: 0 auto;
  }

.index .jumbotron .diag-divider {
  margin-bottom: 70px;
  }

.index .jumbotron .lead {
  font-size: 4.4rem;
  line-height: 1.3333;
  }


/* Side Nav */
/*=========================*/
.side-nav {
  list-style-type: none;
  padding-top: 20px;
  margin:5px 0;
  }

.side-nav li {
  padding-bottom:15px;
  line-height: 1.1;  
  }
  
.side-nav li a {
  font-size: 1.4rem;
  padding: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  }

.side-nav > .active > a,
.side-nav > .active > a:hover,
.side-nav > .active > a:focus {
  color: #555555;
  background-color: rgba(248,247,247,1);
  cursor: default;
  text-decoration: none;
}

.side-nav i { margin: 3px 3px 0 0 }
 
/* Inner Pages */
/*=========================*/
.inline-image {
  width:100%;
  margin-top: 30px;
  }

.top-15 {
  padding-top:15px;
  }
  
.top-25 {
  padding-top:25px;
  }
  
.plain {
  margin-right:0 !important;
  margin-bottom:15px; 
  margin-left:0 !important;
  border-bottom: 3px solid rgba(248,247,247,1);
  overflow:hidden;
  }
  
.plain p {
  padding-right:15px;
  }

.sidebar {
  background-color:#f2f2f2;
  border: #eee solid 1px;
  padding:30px;
  margin-bottom:20px;
  color:gray;
  border-radius: 7px
  }
  
.sidebar h3 {
  margin-top:0;  
  }

form {
  margin-top:20px;
  }

textarea {
  width:90%
  }
  
label {
  margin:10px 0 2px 0;
  }
  
/* Footer */
/*=========================*/
.diag-divider {
  height:40px;  
  background: url("../img/diag.gif") repeat;
  border-bottom: 3px solid rgba(248,247,247,1); 
  margin-bottom: 20px;
  } 

.socialicon, .socialicon-color {
  float:left;
  margin: 5px 10px 20px 0;
  }

#tab-staff .socialicon-color {
  float:none;
  margin-top: 15px !important;
  }

#tab-staff .plain a {
  margin: 0px 10px 10px 0;
  display: inline-block;
}

/* Project Pages */
/*=========================*/

.minus-top, .minus-top .btn { position: relative; }

.brick {
  padding-bottom:20px;
  border-bottom: 3px solid rgba(248,247,247,1); 
  }
  
.brick h3 {
  }
  
.brick .tags {
  display: block;
  text-align: right;
  margin-top: 34px;
  }
  
.brick p {
  clear:both;
  margin-right: 55px;
  }
  

/*Icon Stuff*/
.side-nav .icon {
  height: 30px;
  max-width: 36px;
  margin-right: 2px;
}

.tags .icon {
  width: 18%;
  margin-left: 1.5%;
}

/* JUST TEXT PAGES */

.project .tags,
.project .tags .icon {
  height: 60px;
}

.project .tags.bottom {
  margin-top: 60px;
}

/* Slideshow Stuff */
/*=========================*/

#slideshow {
  overflow: hidden;
  position: relative;
  border-radius: 0;
}

#slideshow .cycle-slideshow, 
#slideshow .cycle-slideshow img {
  width: 100%;
}

#slideshow:before,
#slideshow:after {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 777;
  display: block;
  content: "";
  height: 40px;
}
#slideshow:before {
  top:0;
  background-image: -moz-linear-gradient(rgba(0, 0, 0, .2), rgba(0,0,0,0));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, .2), rgba(0,0,0,0));
}
#slideshow:after {
  bottom: 0;
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,.2));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,.2));
}

/* next/prev */
.cycle-prev, .cycle-next { position: absolute; top: 0; width: 30%; opacity: 0; filter: alpha(opacity=0); z-index: 888; height: 100%; cursor: pointer; }
.cycle-prev { left: 0;  background: url(../img/prev2.png) 50% 50% no-repeat;}
.cycle-next { right: 0; background: url(../img/next2.png) 50% 50% no-repeat;}
.cycle-prev:hover, .cycle-next:hover { opacity: .7; filter: alpha(opacity=70) }

/* pager */
.cycle-pager { 
  text-align: center; width: 100%; z-index: 999; position: absolute; bottom: 10px; overflow: hidden;
}
.cycle-pager span { 
  font-family: arial; font-size: 80px; width: 30px; height: 30px; line-height: 30px;
  display: inline-block; color: #F3F3F3; cursor: pointer; 
}
.cycle-pager span:hover { color: #0799C8; }
.cycle-pager span.cycle-pager-active { color: #77A41D;}
.cycle-pager > * { cursor: pointer;}


/**** Isotope CSS3 transitions ****/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope  .isotope-item {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: opacity;
     -moz-transition-property: opacity;
      -ms-transition-property: opacity;
       -o-transition-property: opacity;
          transition-property: opacity;
}
  
