@charset "UTF-8";
/* CSS Document */

/***** Base Styles ************************************/
  
.e-breadcrumb {
  margin:40px 0 10px 0;
  }
  
body {
  padding-bottom:100px;
  }


/***** Modules ************************************/

/* this needs to be tweaked based on the media-queries from the responsive CSS file */
/* right now it is not optimal */
.container {
  margin: 0 auto;
  }  

/* Navbar */

.navbar {
  margin-top: 20px;
  margin-bottom: 0;
  }
  
nav.navbar a.logo {
  display: block;
  float:left;
}

nav.navbar > .container {
  border-bottom: 3px solid rgba(248,247,247,1);
  padding-bottom: 20px;
  }

.navbar ul.nav {
  position: relative;
  top: 54px;
}


/* Jumbotron */
 
.jumbotron {
  background: url("../img/diag.gif") repeat;
  border-bottom: 3px solid rgba(248,247,247,1); 
  }
  
.jumbo-text {
  margin:0 42px;
  padding: 50px 140px;
  background-color: #fff;  
  }
  
.jumbo-text.inner {
  margin:0 42px;
  padding: 30px 100px;  
  }

/* Hero */
 
.hero {
  }

.index .hero {
  background: url("../img/allosphere.jpg");
  height:450px;  
  }
  
.hero-main {  
  background-color:rgba(7,153,200,.33);
  padding:20px 40px;
  margin:0;
  position: relative;
  z-index: 9999;
  top: 100px;
  }
  
.hero h1, .hero p {
  color:rgba(255,255,255,1);
  
  }  
  
.hero .rev-offset2 {
  margin-left: -180px;
}

  
/* Homepage */
  
.row-fluid {
  padding-top:25px;
  padding-bottom:75px;
  }
  
.home-content p {
  margin-top:10px;
  width:85%;
  }
  
.home-content h3 {
  width:85%;
  padding-bottom:10px;
  border-bottom: 3px solid rgba(248,247,247,1); 
  }
  
  
/* Side Nav */
  
  
.side-nav {
  list-style-type: none;
  padding-top: 20px;
  margin:5px 0;
  }

.side-nav li {
  padding-bottom:15px;
  line-height: 1.1;  
  }
  
.side-nav li a {
  font-size: 1.4rem;
  padding: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  }

.side-nav > .active > a,
.side-nav > .active > a:hover,
.side-nav > .active > a:focus {
  color: #555555;
  background-color: rgba(248,247,247,1);
  cursor: default;
  text-decoration: none;
}

.side-nav i { margin: 3px 3px 0 0 }
 
/* Inner Pages */

.inline-image {
  width:100%;
  margin-top: 30px;
  }
  
 
.top-15 {
  padding-top:15px;
  }
  
.top-25 {
  padding-top:25px;
  }
  
.plain {
  margin-right:0 !important;
  margin-bottom:15px; 
  margin-left:0 !important;
  border-bottom: 3px solid rgba(248,247,247,1);
  overflow:hidden;
  }
  
.plain p, .slide-in p {
  padding-right:15px;
  }
  
 
 
@-webkit-keyframes slideIn { from { height:45px; } to { min-height:220px; } }
@-moz-keyframes slideIn { from { height:45px; } to { min-height:220px; } }
@keyframes slideIn { from { height:45px; } to { min-height:220px; } }

.slide-in {
  height:45px; 
  margin-right:0 !important;  
  margin-left:0 !important;
  border-bottom: 3px solid rgba(248,247,247,1);
  overflow:hidden;
    
    animation:slideIn ease-in 1;
    -webkit-animation:slideIn ease-in 1;
    -moz-animation:slideIn ease-in 1;
    
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
 
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    
    animation-delay: .5s;
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
}
 
  

.sidebar {
  background-color:#f2f2f2;
  border: #eee solid 1px;
  padding:30px;
  margin-bottom:20px;
  color:gray;
  border-radius: 7px
  }
  
.sidebar h3 {
  margin-top:0;  
  }

form {
  /*background-color:#f2f2f2;
  border: #eee solid 1px;
  padding:20px 40px 20px 20px;
  border-radius: 7px;*/
  margin-top:20px;
  }

textarea {
  width:90%
  }
  
label {
  margin:10px 0 2px 0;
  }
  
.brick {
  padding-bottom:20px;
  border-bottom: 3px solid rgba(248,247,247,1); 
  }
  
.brick h3 {
  float:left;
  }
  
.tags {
  float:right;
  margin-top:34px;
  }
  
.brick p {
  clear:both;
  }
  
  
/* Footer */

.diag-divider {
  height:40px;  
  background: url("../img/diag.gif") repeat;
  border-bottom: 3px solid rgba(248,247,247,1); 
  margin-bottom: 20px;
  } 

.socialicon, .socialicon-color {
  float:left;
  margin: 5px 10px 20px 0;
  }

  

/**** Isotope CSS3 transitions ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope  .isotope-item {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: opacity;
     -moz-transition-property: opacity;
      -ms-transition-property: opacity;
       -o-transition-property: opacity;
          transition-property: opacity;
}
  
  


