<!-- Image Hero -->
<div class="hero container">
  <div class="row">
    <div class="span8 feature">
      <img src="">
      <div class="text overlay span8">
        <h2><a href="">
          
        </a></h2>
        <p class="lead"><a href="">
          
        </a></p>
      </div>
    </div>
    <div class="span4 tagline">
      <div class="text">
          <h1><p>Great People.<br>
Great Ideas.<br>
Great Projects.</p>
</h1>
      </div>
    </div>
    <div class="span4 other overlay">
      <img src="">
      <div class="text span4">
        <h3><a href=""> &rarr;</a></h3>
      </div>
    </div>
  </div>
</div>

<!-- Triptych -->
<div class="triptych container">
  <div class="row">
  </div>
</div>
