---
layout : default
---

<div id="slideshow">
  <!-- prev/next links -->
  <div class="cycle-prev"></div>
  <div class="cycle-next"></div>
  <!-- empty element for pager links -->
  <div class="cycle-pager"></div>
  <div class="cycle-slideshow"
    data-cycle-timeout="0"
    data-cycle-pager=".cycle-pager"
    data-cycle-prev=".cycle-prev"
    data-cycle-next=".cycle-next"
    data-cycle-slides="> .slide"
    >
    <!-- IMAGES in the slideshow -->
    {{# page.image }}
      <div class="slide"><img src="{{ . }}" /></div>
    {{/ page.image }}
  </div>
</div>
    

<!-- Main Content
================================================== -->
<div class="container inner">
  
<!--
  <div class="e-breadcrumb">
    <a href="../whatwedo">&larr; Back to All Projects</a>
  </div>
-->
  
  <!-- Content -->
  <div class="row-fluid">
  
    <div class="span8 offset2">
      <div class="row">

        <div class="span1 popup-fb">
          <div class="lightbox-thumbs">    
            <!-- IMAGES in the slideshow -->
            {{# page.image }}
              <a class="fancybox" data-fancybox-group="gallery" rel="=group1" href="{{ . }}">
                <img alt="" src="{{ . }}" />
              </a>
            {{/ page.image }}
          </div>
        </div>

        <article class="project span11">
          <h2>{{ page.title }}</h2>
          {{{ page.content }}}
  
          <div class="icons categories bottom text-center">
            {{# page.categories }}
              <a href="../whatwedo/" class="{{name}}" >{{name}}</a>
            {{/ page.categories }}
          </div>
  
        </article>
      
      </div>
      
    </div>
    
  </div>
      
  <div class="row-fluid minus-top">
  
    {{# page.next }}
      <div class="next span2 pager"><a href="{{ url }}" title="{{ title }}">Next &rarr;</a></div>
    {{/ page.next }}
    {{^ page.next }}
      <div class="next disabled span2 pager"><a>Next &rarr;</a></div>
    {{/ page.next }}
          
    {{# page.previous }}
      <div class="prev previous span2 offset8 pager"><a href="{{ url }}" title="{{ title }}">&larr; Previous</a></div>
    {{/ page.previous }}
    {{^ page.previous }}
      <div class="prev disabled previous span2 offset8pager"><a>&larr; Previous</a></div>
    {{/ page.previous }}
  
  </div>
  <!-- this is presumably for each individual post -->
  
  
</div>
<!-- END Main Content
================================================== -->
