---
layout : default
---

<div id="slideshow">
  <!-- big image area -->
  {{# page.featureimg }}
    <div class="slide"><img src="{{ . }}" /></div>
  {{/ page.featureimg }}
</div>

<!-- Main Content
================================================== -->
<div class="container inner">
    
  <!-- Content -->
  <div class="row-fluid">
  
    <div class="span8 offset2">

      <article class="project">
        <h2>{{ page.title }}</h2>

        <aside class="lightbox-thumbs clearfix">    
          <!-- IMAGES in the slideshow -->
          {{# page.image }}
            <a class="fancybox" data-fancybox-group="gallery" rel="=group1" href="{{ . }}">
              <img alt="" src="{{ . }}" />
            </a>
          {{/ page.image }}
        </aside>

        {{{ page.content }}}

        <div class="icons categories bottom text-center">
          {{# page.categories }}
            <a href="../whatwedo/" class="{{name}}" >{{name}}</a>
          {{/ page.categories }}
        </div>

      </article>
      
    </div>
    
  </div>
      
  <div class="row-fluid minus-top">
  
    {{# page.next }}
      <div class="next span2 pager"><a href="{{ url }}" title="{{ title }}">Next &rarr;</a></div>
    {{/ page.next }}
    {{^ page.next }}
      <div class="next disabled span2 pager"><a>Next &rarr;</a></div>
    {{/ page.next }}
          
    {{# page.previous }}
      <div class="prev previous span2 offset8 pager"><a href="{{ url }}" title="{{ title }}">&larr; Previous</a></div>
    {{/ page.previous }}
    {{^ page.previous }}
      <div class="prev disabled previous span2 offset8pager"><a>&larr; Previous</a></div>
    {{/ page.previous }}
  
  </div>
  <!-- this is presumably for each individual post -->
  
  
</div>
<!-- END Main Content
================================================== -->
