---
layout : project
---

<!-- Main Content
================================================== -->
<div class="container inner">

  <div class="row-fluid">
    <div class="e-breadcrumb offset2">
      <a href="/whatwedo/">&larr; Back to All Projects</a>
    </div>
  </div>  

  <!-- Content -->
  <div class="row-fluid">
    <div class="span8 offset2">
      <article class="project">
        <h2>{{ page.title }}</h2>
        {{{ page.content }}}

        <!-- Spruce Up Projects Tabs!
        ================================================== -->
        <div class="tabbable spruceuptabs">
          <div class="spruceuplist span4" id="myTab">
            <h3 class="">Grant Recipients</h3>
            <ul class="side-nav">
            {{# spruceups.all }}
              <li><a href="#tab-{{tabid}}" data-disqus-identifier="{{url}}" data-toggle="tab">{{ title }}</a></li>
            {{/ spruceups.all }}
            </ul>
          </div>
          <!-- start tabbed "pages" column... -->
          <div class="tab-content span8">
            <!-- Spruceups All!!
            ================================================== -->
            {{# spruceups.all }}
              <div class="tab-pane" id="tab-{{tabid}}">        
                <div class="">
                  <div class="clearfix leadimage"><img class="img-rounded span6 offset3 " src="{{ image }}" /></div>
                  <h3>{{title}}</h3>
                  {{{ content }}}
                </div>
              </div>
            {{/ spruceups.all }}
    
          </div>
          <!-- end tabbed "pages" column... -->
        </div><!-- / END tabbable -->
        <!-- ==================================================
             END SPRUCE UP SUB-PROJECTS TABBABLE AREA -->

        <div class="icons categories bottom text-center">
          {{# page.categories }}
            <a href="../whatwedo/" class="{{name}}" >{{name}}</a>
          {{/ page.categories }}
        </div>

      </article>

    </div>

  </div>

</div>

<!-- END Main Content
================================================== -->
