---
layout : default
---

<!-- Main Content
================================================== -->
<div class="container inner">

  <div class="row-fluid">
    <div class="e-breadcrumb offset2">
      <a href="/whatwedo/">&larr; Back to All Projects</a>
    </div>
  </div>  

  <!-- Content -->
  <div class="row-fluid">
    <div class="span8 offset2">
      <article class="project">
        <div class="leadimage top text-center clearfix">
          {{# page.image }}
            <img class="img-circle span4 offset4" src="{{ page.image }}" />
          {{/ page.image }}
        </div>
        <h2>{{ page.title }}</h2>
        {{{ page.content }}}

        <div class="icons categories bottom text-center">
          {{# page.categories }}
            <a href="../whatwedo/" class="{{name}}" >{{name}}</a>
          {{/ page.categories }}
        </div>

      </article>

    </div>
  </div>
      
  <div class="row-fluid minus-top">
  
    {{# page.next }}
      <div class="next span2 pager"><a href="{{ url }}" title="{{ title }}">Next &rarr;</a></div>
    {{/ page.next }}
    {{^ page.next }}
      <div class="next disabled span2 pager"><a>Next &rarr;</a></div>
    {{/ page.next }}
          
    {{# page.previous }}
      <div class="prev previous span2 offset8 pager"><a href="{{ url }}" title="{{ title }}">&larr; Previous</a></div>
    {{/ page.previous }}
    {{^ page.previous }}
      <div class="prev disabled previous span2 offset8pager"><a>&larr; Previous</a></div>
    {{/ page.previous }}
  
  </div>
  <!-- this is presumably for each individual post -->
      
</div>

<hr class="container"/>

<div class="container">
  <!-- Spruce Up Projects Tabs!
  ================================================== -->
  <div class="row-fluid">
    <div class="tabbable span8 offset2 spruceuptabs">
      {{# whatwedo.tags.spruce-up }}
      <div class="spruceuplist span4" id="myTab">
        <h3 class="minus-top">Grant Recipients</h3>
        <ul class="side-nav">
        {{# whatwedo?to_whatwedo }}
          <li><a href="#tab-{{tabid}}" data-disqus-identifier="{{url}}" data-toggle="tab">{{ title }}</a></li>
        {{/ whatwedo?to_whatwedo }}
        </ul>
      </div>
      {{/ whatwedo.tags.spruce-up }}

      <!-- start tabbed "pages" column... -->
      <div class="tab-content span8 add-top">
  
        <!-- VALUES!
        ================================================== -->
        {{# whatwedo.tags.spruce-up }}
          {{# whatwedo?to_whatwedo }}
          <div class="tab-pane" id="tab-{{tabid}}">        
            <div class="">
              <div class="clearfix"><img class="img-circle span6 offset3 " src="{{ image }}" /></div>
              <h3>{{title}}</h3>
              {{{ content }}}
            </div>
          </div>
          {{/ whatwedo?to_whatwedo }}
        {{/ whatwedo.tags.spruce-up }}

      </div>
      <!-- end tabbed "pages" column... -->

    </div><!-- / END tabbable -->

  </div><!-- / END row-fluid -->
  
</div>
<!-- END Main Content
================================================== -->
