<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RWDF Projects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" media="screen">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="https://raw.github.com/bjornmeansbear/rwdfruhoh.ookb.co/master/_cape/rwdfcape.css" rel="stylesheet">
  </head>

  <body>

    <header class="container">
      <div class="row">
        <img class="col-12 col-sm-4 col-md-3 col-lg-2" src="http://rwdfruhoh.ookb.co/assets/media/rwdflogo.jpg"/>
        <h1 class="col-12 col-sm-6 col-md-6 col-lg-6">Deutsch Foundation projects</h1>
      </div>
      <div class="row">
        <p class="col-6">This is a list of all projects NOT promoted to the homepage. (or not yet sorted?)</p>
        <p class="col-6">Please click the "thumbs up" to feature a project on the homepage. Click the "nul cirlce" to send to the unused feed.</p>
      </div>
    </header>

    <div class="container">
      
      <div class="row">

          <!-- LISTING OF RWDF PROJECTS -->
        {{#pages}}
          <div class="col-12 col-sm-6 col-med-4 col-lg-3 cape-picker block">

            <h3>{{featuretitle}}</h3>
            {{# featureimg }}
              <img src="{{{featureimg}}}" alt="{{featuretitle}}" class="img-thumbnail" />
            {{/ featureimg}}
            {{# featureblurb }}
              <p>{{featureblurb}}</p>
            {{/ featureblurb }}
            <small>{{title}}</small>


            <div>
              <!-- CAPE Promote/Demote buttons -->
              <a href="{{{cape_io.flag_url}}}removed&id={{_id}}&index={{_index}}&type={{_type}}&result=json" class="remove" title="REMOVE">
                <i class="icon-ban-circle"></i>
              </a>
              <a href="{{{cape_io.flag_url}}}added&id={{_id}}&index={{_index}}&type={{_type}}&result=json" class="add" title="ADD">
                <i class="icon-thumbs-up"></i>
              </a>
            </div>
          </div>
        {{/pages}}

      </div>

    </div>

    <!-- JavaScript plugins (requires jQuery) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>

    <script>
      $(document).ready(function() {
        var list_type = '{{cape_io.list_type}}'
        $("a.remove").click(function(e) {
          var url = $(this).attr('href');
          $(this).parent().remove();
          $.get(url);
          return false;
        });
        if ('pending' == list_type) {
          $("a.add").click(function(e) {
            var url = $(this).attr('href');
            $(this).parent().remove();
            $.get(url);
            return false;
          });
        }
      });
    </script>

  </body>
</html>
