---
layout : default
---

<div class="page-header">
  <h1>{{ page.title }}</h1>
</div>

<img src="{{urls.media}}/{{ page.image }}" class="img-circle" />

<article>
  <section>
    <p>{{{ page.content }}}</p>

    <a href="mailto:{{ page.email }}" target="_blank"><img src="{{urls.theme}}/media/socialmask_email.png" class="socialicon-color" ></a>
<!--
    <a href="https://twitter.com/{{ page.twitter }}" target="_blank"><img src="{{urls.theme}}/media/socialmask_twitter.png" class="socialicon-color" ></a>
    <a href="{{ page.linkedin }}" target="_blank"><img src="{{urls.theme}}/media/socialmask_linked.png" class="socialicon-color" ></a>
-->

  </section>
</article>

<!-- this is a test! -->

