---
layout : default
---

<!--
<div class="hero container">
  <div class="row">
    <div class="span4 tagline">
      <div class="text">
        <h1>Great People. <br/>Great Ideas. <br/>Great Projects.</h1>
      </div>
    </div>
    {{# whatwedo.latest }}
      <div class="span4 overlay trio">
        <h2><a href="{{url}}">{{title}}</a></h2>
        <img src="{{ image }}">
      </div>
    {{/ whatwedo.latest }}
  </div>
</div>

<hr class="add-top add-bottom">
-->

<!-- this will be turned into dynamic content areas, but for now bear with me -->
<!-- INDEX Page Content
================================================== -->
<!-- Image Hero -->
<div class="hero container">
  <div class="row">
    <div class="span8 feature">
      <img src="{{urls.media}}/briony-wide.jpg">
      <div class="text span8 green">
        <h2>Briony Hynson</h2>
        <p class="lead"><a href="project-sample-text.html">Social Design Fellow and visionary behind the Bethel Street Playscape. &rarr;</a></p>
      </div>
    </div>
    <div class="span4 tagline">
      <div class="text">
        <!-- this needs to be turned into markdown files... make changing this text easy if possible -->
        <h1>Great People. <br/>Great Ideas. <br/>Great Projects.</h1>
      </div>
    </div>
  </div>
</div>

<!-- Triptych -->
<div class="triptych container">
  <div class="row">
    <div class="span4 overlay trio">
      <img src="{{urls.media}}/h2-stationnorth.jpg">
      <div class="text span4">
        <h3><a href="project-sample-imgs.html">Station North &rarr;</a></h3>
      </div>
    </div>
    <div class="span4 overlay trio">
      <img src="{{urls.media}}/allosphere.png">
      <div class="text span4 green">
        <h3><a href="project-sample-lrgimg.html">The Allosphere &rarr;</a></h3>
      </div>
    </div>
    <div class="span4 overlay trio">
      <img src="{{urls.media}}/h4-toollibrary.jpg">
      <div class="text span4">
        <h3><a href="project-sample-lrgimg-tl.html">The Tool Library &rarr;</a></h3>
      </div>
    </div>
  </div>
</div>

<!-- this needs to be turned into markdown files... make changing this text easy if possible -->
<!-- Jumbo Text -->
<div class="index jumbotron container">
  <div class="diag-divider"></div>
  <div class="row">
    {{# homepage.find_by_name.dek }}
      <div class="span12 lead">
        {{{content}}}
      </div>
    {{/ homepage.find_by_name.dek }}
  </div>
</div>

<!-- these need to be turned into markdown files... make changing this text easy if possible -->
<!-- Page -->
<div class="container add-bottom">
  <div class="row-fluid home-content">
    {{# homepage.find_by_name.legacy }}
      <div class="span6">
        <h3><a href="whoweare">{{ title }}</a></h3>
        {{{content}}}
      </div>
    {{/ homepage.find_by_name.legacy }}
    {{# homepage.find_by_name.tellus }}
      <div class="span6">
        <h3><a href="tellusaboutyou">{{ title }}</a></h3>
        {{{content}}}
      </div>
    {{/ homepage.find_by_name.tellus }}
  </div>
</div>
<!-- /Page -->
<!-- /INDEX Page Content
================================================== -->

