---
layout : default
---

<!-- this will be turned into dynamic content areas, but for now bear with me -->
<!-- INDEX Page Content
================================================== -->
<!-- Image Hero -->
<div class="hero container">
  <div class="row">
    <div class="span8">
      <img src="{{urls.media}}/briony-wide.jpg">
      <div class="text span8 green">
        <h1>Briony Hynson</h1>
        <p class="lead"><a href="project-sample-text.html">Social Design Fellow and visionary behind the Bethel Street Playscape. &rarr;</a></p>
      </div>
    </div>
    <div class="span4 tagline">
      <div class="text">
        <h1>Here’s to people with great ideas.</h1>
      </div>
    </div>
  </div>
</div>

<!-- Triptych -->
<div class="triptych container">
  <div class="row">
    <div class="span4 overlay trio">
      <img src="{{urls.media}}/h2-stationnorth.jpg">
      <div class="text span4">
        <h3><a href="project-sample-imgs.html">Station North &rarr;</a></h3>
      </div>
    </div>
    <div class="span4 overlay trio">
      <img src="{{urls.media}}/allosphere.png">
      <div class="text span4 green">
        <h3><a href="project-sample-lrgimg.html">The Allosphere &rarr;</a></h3>
      </div>
    </div>
    <div class="span4 overlay trio">
      <img src="{{urls.media}}/h4-toollibrary.jpg">
      <div class="text span4">
        <h3><a href="project-sample-lrgimg-tl.html">The Tool Library &rarr;</a></h3>
      </div>
    </div>
  </div>
</div>

<!-- Jumbo Text -->
<div class="index jumbotron container">
  <div class="diag-divider"></div>
  <div class="row">
    <p class="span12 lead">The Deutsch Foundation invests in innovative people, projects and ideas that improve the quality of life in Baltimore and beyond.</p>
  </div>
</div>

<!-- Page -->
<div class="container">
  <div class="row-fluid home-content">
    <div class="span6">
      <h3>Continuing the legacy of Robert W. Deutsch.</h3>
      <p>The Robert W. Deutsch Foundation is usce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
      <p><a href="about.html">Learn more &raquo;</a></p>
    </div>
    <div class="span6">
      <h3>We’d love to hear about your big idea.</h3>
      <p>Drop a line. Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut ferment.</p>
      <p><a href="tellus.html">Tell us about yourself &raquo;</a></p>
    </div>
  </div>
</div>
<!-- /Page -->
<!-- /INDEX Page Content
================================================== -->

