---
layout : default
---

<div id="slideshow">
  <!-- prev/next links -->
  <div class="cycle-prev"></div>
  <div class="cycle-next"></div>
  <!-- empty element for pager links -->
  <div class="cycle-pager"></div>
  <div class="cycle-slideshow"
    data-cycle-timeout="0"
    data-cycle-pager=".cycle-pager"
    data-cycle-prev=".cycle-prev"
    data-cycle-next=".cycle-next"
    >
    <!-- IMAGES in the slideshow -->
      {{# page.image }}
        {{> image_list }}
      {{/ page.image }}
  </div>
</div>

<div class="e-breadcrumb">
  <a href="whatwedo">&larr; Back to All Projects</a>
</div>

<!-- Content -->
<div class="row-fluid">

  <div class="span8 offset2">
    <article class="project">
      <h2>{{ page.title }}</h2>
      {{{ page.content }}}
      <div class="tags bottom text-center">
        <img class="icon" src="img/tempicon/noun_project_15461.svg" alt="arts and culture"/>
        <img class="icon" src="img/tempicon/noun_project_8199.svg" alt="community"/>
      </div>
      <ul class="tag_box inline">
        <li><i class="icon-folder-open"></i></li>
      {{# page.categories }}
        {{> categories_list }}
      {{/ page.categories }}
      </ul>
    </article>
  </div>
  
</div>
    
<div class="row-fluid minus-top">

  {{# page.previous }}
    <div class="prev previous span2 btn"><a href="{{ url }}" title="{{ title }}">&larr; Previous</a></div>
  {{/ page.previous }}
  {{^ page.previous }}
    <div class="prev disabled previous span2 btn"><a>&larr; Previous</a></div>
  {{/ page.previous }}

  {{# page.next }}
    <div class="next span2 btn offset8"><a href="{{ url }}" title="{{ title }}">Next &rarr;</a></div>
  {{/ page.next }}
  {{^ page.next }}
    <div class="next disabled span2 btn offset8"><a>Next &rarr;</a></div>
  {{/ page.next }}
        
</div>
<!-- this is presumably for each individual post -->
