---
layout : default
---

<!-- Main Content
================================================== -->
<div class="container inner">

  <!-- Top Hero -->
  <div class="jumbotron">
  <div class="jumbo-text inner">
     <h1>{{ page.jumbohed }}</h1>
     <p class="lead">{{ page.jumbodek }}</p>
     </div>
  </div>
  
  
  <div class="row-fluid">
  
    <!-- this will need to be auto-created; and then also auto-place classes in each whatwedo div -->
    <div class="span2">
      <ul class="side-nav" id="filters">
        <li class="active"><a href="#" data-filter="*">View All Categories</a></li>
        <li>
          <div>
            <img class="svg icon" src="{{urls.theme}}/media/noun_project_10191.svg">
            <p><a href="#" data-filter=".science">Science &amp; Tech</a></p>
          </div>
        </li>
        <li>
          <div>
            <img class="svg icon" src="{{urls.theme}}/media/noun_project_20713.svg">
            <p><a href="#" data-filter=".scholars">Scholars &amp; Fellows</a></p>
          </div>
        </li>
        <li>
          <div>
            <img class="svg icon" src="{{urls.theme}}/media/noun_project_15461.svg">
            <p><a href="#" data-filter=".arts">Arts &amp; Culture</a></p>
          </div>
        </li>
        <li>
          <div>
            <img class="svg icon" src="{{urls.theme}}/media/noun_project_331.svg">
            <p><a href="#" data-filter=".justice">Social Justice</a></p>
          </div>
        </li>
        <li>
          <div>
            <img class="svg icon" src="{{urls.theme}}/media/noun_project_8199.svg">
            <p><a href="#" data-filter=".community">Community</a></p>
          </div>
        </li>
      </ul>
<!--
      {{# whatwedo.categories.all }}
        {{> categories_list }}
      {{/ whatwedo.categories.all }}
-->
    </div>
          
    <div class="span10 isotope-area" id="projects">
      {{# whatwedo.all }}
      <div class="project brick {{# categories }} {{name}} {{/ categories }}">
        <div class="project-title">
          <h3><a href="{{url}}" data-disqus-identifier="{{url}}">{{ title }}</a></h3>
        </div>
        <ul class="icons categories">
        {{# categories }}
          <li class="{{# categories }} {{name}} {{/ categories }}"><a href="{{url}}">ICON TK {{name}}</a></li>
        {{/ categories }}
        </ul>
        <div class="project-content">
          {{{ summary }}}
        </div>
      </div>
      {{/ whatwedo.all }}
    </div>
  </div>

</div>
<!-- END Main Content
================================================== -->
