---
layout: default
---

<!-- Main Content
================================================== -->
<div class="container inner">

  <!-- Top Hero -->
  <div class="jumbotron">
    <div class="jumbo-text inner">
      <h1>{{ page.jumbohed }}</h1>
      <p class="lead">{{ page.jumbodek }}</p>
    </div>
  </div>
  
  <!-- Who We Are Tabs!
  ================================================== -->
  <div class="row-fluid">
    <div class="tabbable">
      <!-- THIS WILL PROBABLY NEED TO BE AUTO CREATED? -->
      <ul class="side-nav span2 id="myTab"">
        <li class="active"><a href="#tab-values" data-toggle="tab">Our Values</a></li>
        <li><a href="#tab-founders" data-toggle="tab">Robert &amp; Florence</a></li>
        <li><a class="staff" href="#tab-staff" data-toggle="tab">Directors &amp; Staff</a></li>
      </ul>
        
      <!-- start tabbed "pages" column... -->
      <div class="tab-content span10">
  
        <!-- VALUES!
        ================================================== -->
        <div class="tab-pane active" id="tab-values">        
          <div class="span8">
            {{# whoweare.tags.values }}
              {{# whoweare?to_whoweare }}
                {{{content}}}
              {{/ whoweare?to_whoweare }}
            {{/ whoweare.tags.values }}
          </div>
        </div>
    
        <!-- FOUNDERS -->
        <!-- ====================================== -->
        <div class="tab-pane" id="tab-founders">
          <div class="span8">
            {{# whoweare.tags.founders }}
              {{# whoweare?to_whoweare }}
                {{{content}}}
              {{/ whoweare?to_whoweare }}
            {{/ whoweare.tags.founders }}
          </div>
          <div class="span4 inline-image">
            <img src="img/philo_allosphere.jpg">
            <p>IMG TK</p>
          </div>     
        </div>
        
        <!-- STAFF -->
        <!-- ====================================== -->
        <div class="tab-pane" id="tab-staff">
          <div class="span6">
          
            {{# whoweare.tags.bio }}
              <div class="plain">
                {{# whoweare?to_whoweare }}
                  <h4>{{title}}</h4>
                  <h5>{{subhead}}</h5>
                  <img src="{{image}}"/>
                  {{{content}}}
                {{/ whoweare?to_whoweare }}
              </div>
            {{/ whoweare.tags.bio }}
          </div>
        </div>
        <!-- END VALUES, FOUNDERS, STAFF -->
        <!-- ====================================== -->

      </div>
      <!-- end tabbed "pages" column... -->
  
    </div><!-- / END tabbable -->
  
  </div><!-- / END Row-Fluid -->
  
</div>
<!-- END Main Content
================================================== -->
